# Data Engineering

In [92]:
#create environment
import numpy as np
import pandas as pd
import scipy as sci
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from copy import deepcopy
from statsmodels.formula.api import ols
import statsmodels.api as sm
from datetime import datetime
from pandas.plotting import scatter_matrix
pd.set_option('display.max_columns', 500)

### Data

In [93]:
#import data
uno_sale = pd.read_pickle('uno_sale_ec.pkl')
uno_inv = pd.read_pickle('uno_inv_ec.pkl')
uno_sale.shape, uno_inv.shape

((111038, 28), (144612, 7))

In [94]:
def missing_value(df):
    nulls = pd.DataFrame(df.isnull().sum().sort_values(ascending=False))
    nulls.columns=['NAs']
    nulls['percentage']=nulls['NAs']/df.shape[0]
    result=nulls.loc[nulls.NAs>0]
    print('Number of features with NAs:',result.shape[0])
    return result

In [95]:
invqty = uno_inv.groupby(['STYLE#','Description','COLOR']).agg({'LAST RCVD':'count','Qty':'sum', 'On-Hand':'sum'}).sort_values('Qty', ascending=False).reset_index()
invqty['Warehouse'] = invqty['On-Hand'] /invqty['LAST RCVD']
invqty.drop(columns=['LAST RCVD','On-Hand'], inplace=True)
invqty['Discrepancy'] = invqty.Warehouse - invqty.Qty
invqty.head()

,STYLE#,Description,COLOR,Qty,Warehouse,Discrepancy
0,DTYZ105,cc bead,GD,10000.0,10000.0,0.0
1,DTA4E2531,teardrop tassel fan ivory,IVORY,7642.0,7642.0,0.0
2,DTSYC1224,mm metal ball chain,None,6240.0,6240.0,0.0
3,DTSYN2575,metal layered brass,GD,4800.0,4800.0,0.0
4,DTSYC1225,mm metal ball chain,None,3960.0,3960.0,0.0

In [96]:
invqty['Warehouse'] = invqty['Qty']
invqty.drop(columns=['Discrepancy','Qty'], inplace=True)
invqty.head()

      STYLE#                 Description  COLOR  Warehouse
0    DTYZ105                     cc bead     GD    10000.0
1  DTA4E2531  teardrop tassel fan  ivory  IVORY     7642.0
2  DTSYC1224         mm metal ball chain   None     6240.0
3  DTSYN2575         metal layered brass     GD     4800.0
4  DTSYC1225         mm metal ball chain   None     3960.0

In [97]:
missing_value(invqty)

Number of features with NAs: 0

Empty DataFrame
Columns: [NAs, percentage]
Index: []

In [98]:
uno_inv['Sale_Qty'] = np.abs([x if x < 0 else 0 for x in uno_inv.Qty])
uno_inv['Inv_Qty'] = np.abs([x if x > 0 else 0 for x in uno_inv.Qty])
uno_inv.head()

,STYLE#,COLOR,Description,LAST RCVD,Qty,On-Hand,Categories,Sale_Qty,Inv_Qty
0,DTA1A9500,IV,seed bead anklet,2016-04-12,-144.0,0.0,NaN,144.0,0.0
1,DTA1A9500,IV,seed bead anklet,2016-04-12,144.0,0.0,NaN,0.0,144.0
2,DTA1A9500,MUL,seed bead anklet,2016-04-12,-144.0,0.0,NaN,144.0,0.0
3,DTA1A9500,MUL,seed bead anklet,2016-04-12,144.0,0.0,NaN,0.0,144.0
4,DTA1A9500,TQ,seed bead anklet,2016-04-12,-144.0,0.0,NaN,144.0,0.0

In [99]:
uno_inv_agg = uno_inv.groupby(['STYLE#','COLOR','Description','LAST RCVD']).agg('sum').reset_index()
uno_inv_agg.shape

(118598, 9)

In [100]:
uno_inv_agg = pd.merge(uno_inv_agg, invqty, how='left', left_on=['STYLE#','Description','COLOR'],\
                       right_on=['STYLE#','Description','COLOR'])
uno_inv_agg.shape

(118598, 10)

In [101]:
uno_inv_agg.drop(columns=['Qty','On-Hand','Categories'],inplace=True)
uno_inv_agg.head(20)

,STYLE#,COLOR,Description,LAST RCVD,Sale_Qty,Inv_Qty,Warehouse
0,DTA1A9500,IV,seed bead anklet,2016-04-12,144.0,144.0,0.0
1,DTA1A9500,MUL,seed bead anklet,2016-04-12,144.0,144.0,0.0
2,DTA1A9500,TQ,seed bead anklet,2016-04-12,144.0,144.0,0.0
3,DTA1B2029,WG-COR,row wood bead stretch br,2016-04-04,12.0,120.0,0.0
4,DTA1B2029,WG-COR,row wood bead stretch br,2016-04-06,12.0,0.0,0.0
5,DTA1B2029,WG-COR,row wood bead stretch br,2016-04-11,0.0,240.0,0.0
6,DTA1B2029,WG-COR,row wood bead stretch br,2016-04-12,240.0,0.0,0.0
7,DTA1B2029,WG-COR,row wood bead stretch br,2016-05-20,12.0,0.0,0.0
8,DTA1B2029,WG-COR,row wood bead stretch br,2016-06-22,12.0,0.0,0.0
9,DTA1B2029,WG-COR,row wood bead stretch br,2016-08-03,12.0,0.0,0.0
10,DTA1B2029,WG-COR,row wood bead stretch br,2016-08-22,24.0,0.0,0.0
11,DTA1B2029,WG-COR,row wood bead stretch br,2016-08-25,0.0,12.0,0.0
12,DTA1B2029,WG-COR,row wood bead stretch br,2017-07-24,48.0,0.0,0.0
13,DTA1B2029,WG-CRM,row pearl bead stretch br,2016-04-04,12.0,240.0,0.0
14,DTA1B2029,WG-CRM,row pearl bead stretch br,2016-05-25,12.0,0.0,0.0
15,DTA1B2029,WG-CRM,row pearl bead stretch br,2016-06-09,24.0,0.0,0.0
16,DTA1B2029,WG-CRM,row pearl bead stretch br,2016-08-02,12.0,0.0,0.0
17,DTA1B2029,WG-CRM,row pearl bead stretch br,2016-08-03,12.0,0.0,0.0
18,DTA1B2029,WG-CRM,row pearl bead stretch br,2016-08-15,12.0,0.0,0.0
19,DTA1B2029,WG-CRM,row pearl bead stretch br,2016-08-23,24.0,0.0,0.0

In [102]:
uno_inv_agg.Description = uno_inv_agg.Description.str.lower()
uno_sale.DESCRIPTION = uno_sale.DESCRIPTION.str.lower()

In [103]:
uno_sale_subset = uno_sale.groupby(['DESCRIPTION']).agg({'UNIT PRICE': 'max'}).reset_index()
uno_sale_subset.head()

                           DESCRIPTION  UNIT PRICE
0                                             8.25
1           a initial bar adj brac  wg        2.75
2           a initial circle disk pend        2.25
3  a large natural srtone in texture l        8.75
4         a linear bar initial pendant        2.75

In [104]:
uno_inv_agg = pd.merge(uno_inv_agg, uno_sale_subset,\
                       how='left', left_on=['Description'],right_on=['DESCRIPTION'])

,STYLE#,COLOR,Description,LAST RCVD,Sale_Qty,Inv_Qty,Warehouse,DESCRIPTION,UNIT PRICE
0,DTA1A9500,IV,seed bead anklet,2016-04-12,144.0,144.0,0.0,seed bead anklet,4.00
1,DTA1A9500,MUL,seed bead anklet,2016-04-12,144.0,144.0,0.0,seed bead anklet,4.00
2,DTA1A9500,TQ,seed bead anklet,2016-04-12,144.0,144.0,0.0,seed bead anklet,4.00
3,DTA1B2029,WG-COR,row wood bead stretch br,2016-04-04,12.0,120.0,0.0,row wood bead stretch br,3.25
4,DTA1B2029,WG-COR,row wood bead stretch br,2016-04-06,12.0,0.0,0.0,row wood bead stretch br,3.25

In [113]:
#uno_inv_agg.drop(columns='DESCRIPTION', inplace=True)
uno_inv_agg.head(10)

,STYLE#,COLOR,Description,LAST RCVD,Sale_Qty,Inv_Qty,Warehouse,UNIT PRICE
0,DTA1A9500,IV,seed bead anklet,2016-04-12,144.0,144.0,0.0,4.00
1,DTA1A9500,MUL,seed bead anklet,2016-04-12,144.0,144.0,0.0,4.00
2,DTA1A9500,TQ,seed bead anklet,2016-04-12,144.0,144.0,0.0,4.00
3,DTA1B2029,WG-COR,row wood bead stretch br,2016-04-04,12.0,120.0,0.0,3.25
4,DTA1B2029,WG-COR,row wood bead stretch br,2016-04-06,12.0,0.0,0.0,3.25
5,DTA1B2029,WG-COR,row wood bead stretch br,2016-04-11,0.0,240.0,0.0,3.25
6,DTA1B2029,WG-COR,row wood bead stretch br,2016-04-12,240.0,0.0,0.0,3.25
7,DTA1B2029,WG-COR,row wood bead stretch br,2016-05-20,12.0,0.0,0.0,3.25
8,DTA1B2029,WG-COR,row wood bead stretch br,2016-06-22,12.0,0.0,0.0,3.25
9,DTA1B2029,WG-COR,row wood bead stretch br,2016-08-03,12.0,0.0,0.0,3.25

In [110]:
uno_inv_agg.shape

(118598, 8)

In [111]:
missing_value(uno_inv_agg) #7286 items were never sold/left warehouse

Number of features with NAs: 1

             NAs  percentage
UNIT PRICE  7286    0.061434

In [127]:
temp = uno_inv_agg[uno_inv_agg.isnull().any(axis=1)]
temp.loc[temp["Warehouse"]>0,:]

,STYLE#,COLOR,Description,LAST RCVD,Sale_Qty,Inv_Qty,Warehouse,UNIT PRICE
4180,DTA1N2029,WG-MST,wood bead body tassel nk,2016-04-11,12.0,240.0,12.0,NaN
4181,DTA1N2029,WG-MST,wood bead body tassel nk,2016-05-17,12.0,0.0,12.0,NaN
4182,DTA1N2029,WG-MST,wood bead body tassel nk,2016-06-15,96.0,0.0,12.0,NaN
4183,DTA1N2029,WG-MST,wood bead body tassel nk,2017-05-25,12.0,0.0,12.0,NaN
4184,DTA1N2029,WG-MST,wood bead body tassel nk,2018-01-17,12.0,0.0,12.0,NaN
4185,DTA1N2029,WG-MST,wood bead body tassel nk,2018-04-27,12.0,0.0,12.0,NaN
4186,DTA1N2029,WG-MST,wood bead body tassel nk,2018-05-03,0.0,12.0,12.0,NaN
4187,DTA1N2029,WG-MST,wood bead body tassel nk,2018-07-27,84.0,0.0,12.0,NaN
21191,DTA4B2546,CML,magnetic pu be brave br,2017-02-02,0.0,180.0,156.0,NaN
21192,DTA4B2546,CML,magnetic pu be brave br,2017-02-03,60.0,0.0,156.0,NaN
21193,DTA4B2546,CML,magnetic pu be brave br,2017-02-07,12.0,0.0,156.0,NaN
21194,DTA4B2546,CML,magnetic pu be brave br,2017-02-17,48.0,0.0,156.0,NaN
21195,DTA4B2546,CML,magnetic pu be brave br,2017-03-01,0.0,180.0,156.0,NaN
21196,DTA4B2546,CML,magnetic pu be brave br,2017-03-03,24.0,0.0,156.0,NaN
21197,DTA4B2546,CML,magnetic pu be brave br,2017-03-08,12.0,0.0,156.0,NaN
21198,DTA4B2546,CML,magnetic pu be brave br,2017-05-24,24.0,0.0,156.0,NaN
21199,DTA4B2546,CML,magnetic pu be brave br,2017-10-25,12.0,0.0,156.0,NaN
21200,DTA4B2546,CML,magnetic pu be brave br,2017-11-28,12.0,0.0,156.0,NaN
21201,DTA4B2546,JET,magnetic pu faith br,2017-02-02,0.0,240.0,25.0,NaN
21202,DTA4B2546,JET,magnetic pu faith br,2017-02-03,72.0,0.0,25.0,NaN
21203,DTA4B2546,JET,magnetic pu faith br,2017-02-07,12.0,0.0,25.0,NaN
21204,DTA4B2546,JET,magnetic pu faith br,2017-02-17,60.0,0.0,25.0,NaN
21205,DTA4B2546,JET,magnetic pu faith br,2017-03-01,0.0,120.0,25.0,NaN
21206,DTA4B2546,JET,magnetic pu faith br,2017-03-03,24.0,0.0,25.0,NaN
21207,DTA4B2546,JET,magnetic pu faith br,2017-03-08,12.0,0.0,25.0,NaN
21208,DTA4B2546,JET,magnetic pu faith br,2017-03-15,108.0,0.0,25.0,NaN
21209,DTA4B2546,JET,magnetic pu faith br,2017-05-09,12.0,0.0,25.0,NaN
21210,DTA4B2546,JET,magnetic pu faith br,2017-08-30,24.0,0.0,25.0,NaN
21211,DTA4B2546,JET,magnetic pu faith br,2017-11-28,11.0,0.0,25.0,NaN
21223,DTA4B2546F,TAN,magnetic pu fearless br,2017-02-02,0.0,180.0,131.0,NaN
...,...,...,...,...,...,...,...,...
118314,DTYLN-805011,NV,chain w tassel dn,2018-07-16,0.0,60.0,600.0,NaN
118315,DTYLN-805011,NV,chain w tassel dn,2018-08-27,0.0,240.0,600.0,NaN
118316,DTYLN-805011,NV,chain w tassel dn,2018-09-18,0.0,120.0,600.0,NaN
118322,DTYLN-807016,ADOB,layered crysltort pend nk,2018-11-07,0.0,278.0,278.0,NaN
118323,DTYLN-807016,TANNIN,layered crysltort pend nk,2018-11-07,0.0,250.0,250.0,NaN
118324,DTYLN-807038,GD,metal chain w mm o ring,2018-08-31,0.0,960.0,2760.0,NaN
118325,DTYLN-807038,GD,metal chain w mm o ring,2018-10-02,0.0,600.0,2760.0,NaN
118326,DTYLN-807038,GD,metal chain w mm o ring,2018-10-15,0.0,1200.0,2760.0,NaN
118329,DTYLN-807066,GD,metal chain w mm o ring,2018-08-31,0.0,600.0,600.0,NaN
118330,DTYLN-807067,GD,metal chain w mm o ring,2018-08-20,0.0,1200.0,1200.0,NaN
118333,DTYLN-808005,WG,faith mini pendant wg,2018-11-21,0.0,210.0,210.0,NaN
118355,DTYLP-707001,AMY,fabric tassel amy,2017-09-25,0.0,60.0,60.0,NaN
118356,DTYLP-707001,GRY,fabric tassel gry,2017-09-25,0.0,60.0,60.0,NaN
118357,DTYLP-707002-3,JET,dn tassel jet,2018-10-02,0.0,120.0,120.0,NaN
118374,DTYLP-801003-2,JET-GRY,layered tassel,2018-05-29,0.0,240.0,600.0,NaN
118375,DTYLP-801003-2,JET-GRY,layered tassel,2018-07-12,0.0,360.0,600.0,NaN
118376,DTYLP-801003-6,FU-DPK,layered tassel,2018-05-29,0.0,240.0,480.0,NaN
118377,DTYLP-801003-6,FU-DPK,layered tassel,2018-07-12,0.0,240.0,480.0,NaN
118378,DTYLP-801003-7,MUL,layered tassel,2018-05-29,0.0,240.0,480.0,NaN
118379,DTYLP-801003-7,MUL,layered tassel,2018-07-12,0.0,240.0,480.0,NaN
118380,DTYLP-801003-8,IV-LGRY,layered tassel,2018-05-29,0.0,240.0,480.0,NaN
118381,DTYLP-801003-8,IV-LGRY,layered tassel,2018-07-12,0.0,240.0,480.0,NaN
118382,DTYLP-802001,None,moroccan shape part,2018-03-19,0.0,360.0,720.0,NaN
118383,DTYLP-802001,None,moroccan shape part,2018-03-26,0.0,360.0,720.0,NaN
118384,DTYLP-802002,None,clover shape part,2018-03-19,0.0,240.0,960.0,NaN
118385,DTYLP-802002,None,clover shape part,2018-03-26,0.0,480.0,960.0,NaN
118386,DTYLP-802002,None,clover shape part,2018-04-09,0.0,240.0,960.0,NaN
118467,DTYN138,GD-RQ,semi precious pave nk,2017-10-25,0.0,11.0,11.0,NaN
118503,DTYNE152,GD-SV,gold dangling nk set gdsv,2017-10-10,0.0,12.0,12.0,NaN
118519,DTYZ105,GD,cc bead,2018-01-17,0.0,10000.0,10000.0,NaN

In [141]:
df = uno_inv_agg.groupby(['Description',uno_inv_agg['LAST RCVD'].dt.year])\
.agg({'Sale_Qty':'sum','Inv_Qty':'sum','Warehouse':'max','UNIT PRICE':'max'})\
.sort_values('LAST RCVD').reset_index()
df.head()

,Description,LAST RCVD,Sale_Qty,Inv_Qty,Warehouse,UNIT PRICE
0,metal chain necklace,2016,168.0,0.0,-72.0,0.35
1,metal post er,2016,888.0,1140.0,240.0,3.25
2,metal rectangle hoop er,2016,48.0,240.0,11.0,2.75
3,metal round shape nk set,2016,360.0,360.0,0.0,NaN
4,metal tassel pendant,2016,82.0,0.0,-24.0,1.00

In [145]:
df.loc[df['LAST RCVD']==2016,'Warehouse'] = df.loc[df['LAST RCVD']==2016,'Inv_Qty']-df.loc[df['LAST RCVD']==2016,'Sale_Qty']

In [146]:
for item in df.Description.unique():
    len(df.loc[df['Description']==item,]

,Description,LAST RCVD,Sale_Qty,Inv_Qty,Warehouse,UNIT PRICE
0,metal chain necklace,2016,168.0,0.0,-168.0,0.35
1,metal post er,2016,888.0,1140.0,252.0,3.25
2,metal rectangle hoop er,2016,48.0,240.0,192.0,2.75
3,metal round shape nk set,2016,360.0,360.0,0.0,NaN
4,metal tassel pendant,2016,82.0,0.0,-82.0,1.00

In [174]:
df.loc[df['Description']=="metal post er",].iloc[]

        Description  LAST RCVD  Sale_Qty  Inv_Qty  Warehouse  UNIT PRICE
1     metal post er       2016     888.0   1140.0      252.0        3.25
5964  metal post er       2017    4319.0   5666.0      240.0        3.25
7381  metal post er       2018    5364.0   8065.0      240.0        3.25

In [178]:
df.loc[df['Description']=="metal post er",].Warehouse.shift(1)

1         NaN
5964    252.0
7381    240.0
Name: Warehouse, dtype: float64